<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TASKOPAD</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:600,700&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
            background-color: #fff;
            font-family: 'Muli', sans-serif;
        }

        p,
        h1,
        ul,
        ol,
        li,
        div {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body paddingwidth="0" paddingheight="0" bgcolor="#fff"
    style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
    offset="0" toppadding="0" leftpadding="0">
    <table width="600" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#fff"
        style='margin: 0 auto;'>
        <!-- ================ header=============== -->

        <tr>
            <td align='center' class='bgBody'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"
                    style="border: 1px solid #929292">
        </tr>
        <!-- ================ END header =============== -->
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class='movableContentContainer bgItem' align='center'>

                            <div class='movableContent'>
                                <table width="600" border="0" cellspacing="0" cellpadding="0"
                                    style="background-color: #f5f5f5;">
                                    <tr>
                                        <td colspan="2" height='20'></td>
                                    </tr>
                                    <tr>
                                        <td align='center'>
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable">
                                                    <!-- <img style="width: 150px"
                                                        src="https://cita-static-assets.s3.amazonaws.com/logo.png"
                                                        alt='CITA'> -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height='20'></td>
                                    </tr>
                                </table>
                            </div>


                            <!--  =========================== The body ===========================  -->


                            <div class='movableContent'>
                                <table width="600" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="2" height='30'></td>
                                    </tr>
                                    <tr>
                                        <td width='500'>
                                            <div class="contentEditableContainer contentImageEditable">
                                                <div class="contentEditable" style="text-align:center;">
                                                    <img src="https://cita-static-assets.s3.amazonaws.com/email.png"
                                                        data-default="placeholder" data-max-width="365" width='560'
                                                        style="width: 220px;">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height='20'></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height='30'
                                            style="text-align: center; color: #0a9efc; font-size: 26px; text-transform: uppercase; font-weight: bold;">
                                            Welcome to Fit-Hit
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class='movableContent'>
                                <table width="560" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td height='50'></td>
                                    </tr>
                                    <tr>
                                        <td align='left' width='560'>
                                            <div class="content-txt" style="margin: 0 56px">
                                                <div
                                                    style="text-align: center; color: #000000; font-weight: bold; margin-bottom: 10px; font-size: 20px;">
                                                    Hello {USERNAME}</div>
                                                <p
                                                    style="text-align: center; font-size: 20px; font-weight: 600; color: #777777; margin-bottom: 5px;">
                                                    Welcome to the team.</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height='70'></td>
                                    </tr>

                                    <tr>
                                        <td align='left' width='560'>
                                            <div class="content-txt" style="margin: 0 56px">
                                                <div
                                                    style="text-align: center; color: #000000; font-weight: bold; padding-bottom: 20px; font-size: 20px;">
                                                    Your Password</div>

                                                <div style="text-align: center;">
                                                    <label style="    background-color: #f46902;
                                                            color: #fff;
                                                            border-radius: 10px;
                                                            padding: 10px 20px;
                                                            font-weight: bold;
                                                            font-size: 20px;
                                                            letter-spacing: 10px;">
                                                        {PASSWORD}
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height='70'></td>
                                    </tr>
                                    <tr>
                                        <td align='left' width='560'>
                                            <div class="content-txt" style="margin: 0 56px">
                                                <div
                                                    style="text-align: center; color: #000000; font-weight: bold; padding-bottom: 20px; font-size: 20px;">
                                                    Thank you.</div>
                                                <div style="margin-bottom: 20px; text-align: center;">
                                                    <label style="text-align: center;
                                                        background-color: #f46902;
                                                        color: #fff;
                                                        border-radius: 10px;
                                                        padding: 10px 20px;
                                                        font-weight: bold;
                                                        font-size: 20px;
                                                        letter-spacing: 5px;">
                                                        FIT-HIT TEAM
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </table>

</body>

</html>